# DAY_051-053: ml100marathon-02-01_Midterm Competition

***
### Overview
隨著移動設備的完善和普及，零售與電子商務進入了高速發展階段，這其中以 O2O（Online to Offline）消費最為熱絡。據統計，O2O 行業估值上億的創業公司至少有 10 家，也不乏百億巨頭的身影。 O2O 行業每日自然流量有數億消費者，各類 APP 每天記錄了超過百億條用戶行為和位置記錄，因而成為大數據科研和商業化運營的最佳結合點之一。

以優惠券活化老用戶或吸引新客戶消費是 O2O 的一種重要營銷方式。然而，隨機投放的優惠券對多數用戶造成無意義的干擾。對商家而言，濫發的優惠券可能降低品牌聲譽，同時難以估算營銷成本。個性化投放是提高優惠券核銷率的重要技術，它可以讓具有一定偏好的消費者得到真正的實惠，同時賦予商家更強的營銷能力。本次練習數據擷取自電商之部分數據，希望各位通過分析建模，__預測用戶是否會在規定時間內使用相應優惠券。__

### Data
本賽題提供用戶在2016年1月1日至2016年5月31日之間真實線下消費行為，預測用戶在2016年6月領取優惠券後15天以內的使用情況。

### Evaluation
本賽題目標是預測投放的優惠券是否在規定時間內核銷。針對此任務及一些相關背景知識，以該用戶使用於某日取得之優惠券核銷預測 AUC（ROC 曲線下面積）作為評價標準。即對將 User_id - Date_received - Coupon_id 為一組計算核銷預測的AUC值，若某使用者於同一日取得多張相同優惠券，則任一張核銷皆為有效核銷。

### 欄位說明 (與 column_description.csv 相同) 
- User_id：用戶 ID 
- Merchant_id：商家 ID 
- Coupon_id：優惠券 ID (null 代表無優惠券消費) 
- Discount_rate：優惠券折價：[0,1] 代表折扣率；x:y 代表滿 x 減 y 元 
- Distance：用戶經常活動地點離商家最近距離 (x * 500 公尺), 0 表示低於 500 公尺, 10 表示大於 5 公里。 
- Date_received：優惠券取得時間。 
- Date：購買商品時間 (如果 Date is null & Coupon_id is not null, 則該紀錄為有優惠券但未使用; 若為 Date is not null & Coupon_id is null, 則為普通消費日期; 若 Date is not null & Coupon_id is not null, 則表示優惠券消費日期)
***

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

# To see how many data in './data'
import os
data_path = './data/'
print(os.listdir(data_path))

# Filter warnings
import warnings
warnings.filterwarnings('ignore')

['column_description.csv', 'column_description_en.csv', 'sample_submission.csv', 'test_offline.csv', 'train_offline.csv']

In [2]:
# Read training datasets and testing datasets
train_df = pd.read_csv(data_path + 'train_offline.csv')
test_df = pd.read_csv(data_path + 'test_offline.csv')
sample_submission = pd.read_csv(os.path.join(data_path, 'sample_submission.csv')) # target format
# column_description = pd.read_csv("./data/test_offline.csv", encoding="UTF-8")

print(f'train_df shape : {train_df.shape}')
print(f'test_df shape : {test_df.shape}')
sample_submission.head()

train_df shape : (1160742, 7)
test_df shape : (594142, 6)

                     uid     label
0  1000020_2705_20160519  0.397000
1  1000020_8192_20160513  0.059435
2  1000065_1455_20160527  0.087798
3  1000085_8067_20160513  0.806111
4  1000086_2418_20160613  0.825684

In [3]:
train_df.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
3,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
4,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN

In [4]:
# Check_Na
def na_check(data):
    data_na = (data.isnull().sum() / len(data)) * 100
    data_na = data_na.drop(data_na[data_na==0].index).sort_values(ascending=False)
    missing_data = pd.DataFrame({'Missing Ratio' : data_na})
    if len(data_na) == 0:
        print('There\'s 0 missing data.')
    else:
        display(missing_data)

print("Train_df :")
na_check(train_df)
print("\n")
print("Test_df")
na_check(test_df)

Train_df :

               Missing Ratio
Date               60.653703
Date_received      35.647284
Discount_rate      35.647284
Coupon_id          35.647284
Distance            6.015635

Test_df

               Missing Ratio
Date_received      48.444480
Discount_rate      48.444480
Coupon_id          48.444480
Distance            6.088948

In [15]:
"""
label = -1 : where df['date_received'] is null, user didn't receive coupon
label =  0 : where df['date'] is not null, but over 15 days
label =  1 : where df['date'] is not null, and purchased within 15 days (target)
"""

def label(data):
    if np.isnan(data['Date_received']):
        return -1
    
    if not np.isnan(data['Date']):
        td = pd.to_datetime(data['Date'], format='%Y%m%d') -  pd.to_datetime(data['Date_received'], format='%Y%m%d')
        
        print(td)
        
        if td > 15:
            return 0
        else:
            return 1
        
train_df['label'] = train_df.apply(label, axis=1)
train_df['label'].head()

8 days 00:00:00
8 days 00:00:00

TypeError: ('Cannot compare type Timedelta with type int', 'occurred at index 18')